.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #0E101D;
}

.navigation-button-separator {
    width: 100%;
    color: var(--primary-color);
}

.button-nav {
    display: flex;
    align-items: center;
    background-color: #1E223D;
    border: none;
    border-radius: calc(var(--size-base) * 4);
    font-family: "Noto Sans SemiBold";
    margin: calc(var(--size-base) * 2);
    padding: calc(var(--size-base) * 3);
    cursor: pointer;

    /*---chatgpt fragment---*/
        outline: 2px solid transparent;
        outline-offset: 6px;
        transition: outline-color .25s ease, outline-offset .25s ease;
    }

    .button-nav:hover {
        outline-color: var(--primary-color);
        outline-offset: 2px;
    }
    /*----------------------------*/

.navigation-button-text-container {
    font-size: calc(var(--size-base) * 6);
    color: var(--primary-color);
    width: 60%;
}

.navigation-button-image-container {
    width: 40%;
    height: 90%;
}