.card-showcase-container {
    background-color: #1E223D;
    display: flex;
    flex-direction: row;
    border-radius: calc(var(--size-base) * 4);
    padding: calc(var(--size-base) * 6);
    color: var(--primary-color);
    max-width: 83%;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
}