.main-panel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 62.5%;
    box-sizing: border-box;
    padding: calc(var(--size-base) * 2);
    align-items: center;
}

.header {
    font-size: calc(var(--size-base) * 20);
    background-image: linear-gradient(#4CD69E, #1BD96A);
    color: transparent;
    background-clip: text;
    font-family: "Noto Sans SemiBold";
    text-shadow: 1px 1px 2px;
    padding: calc(var(--size-base) * 6);
}

.card-gallery-container {
    background-color: #1E223D;
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--size-base) * 4);
    padding: calc(var(--size-base) * 6);
    color: #1BD96A;
}