.new-card-container {
    background-color: #1E223D;
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--size-base) * 4);
    padding: calc(var(--size-base) * 6);
    color: var(--primary-color);
    max-width: 83%;
    width: 100%;
    font-size: calc(var(--size-base) * 6);
    font-family: "Noto Sans SemiBold";
}

.card-form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--size-base) * 3);
    font-size: calc(var(--size-base) * 10);
}

.card-form-container {
    padding: calc(var(--size-base) * 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--size-base) * 2);
    outline: 2px solid transparent;
    outline-offset: 6px;
    transition: outline-color .25s ease, outline-offset .25s ease;
}


.card-form-container:hover {
    outline-color: var(--primary-color);
    outline-offset: 2px;
}

.card-form-input {
    padding: calc(var(--size-base) * 2);
}

.card-form-label {
    padding: calc(var(--size-base) * 2);
}

input[type="file"] {
  display: none;
}

.card-form-custom-upload {
  border: 1px solid var(--primary-color);
  display: inline-block;
  margin: calc(var(--size-base) * 2);
  padding: calc(var(--size-base) * 2);
  cursor: pointer;
  border-radius: calc(var(--size-base) * 4);
}

.card-form-button-submit, .card-button-add-word {
    padding: calc(var(--size-base) * 2);
    margin: calc(var(--size-base) * 2);
    text-decoration: none;
    border: none;
    border-radius: calc(var(--size-base) * 4);
    background: var(--primary-color);
    color: #0E101D;
    font-family: "Noto Sans SemiBold";
    font-size: calc(var(--size-base) * 6);
    cursor: pointer;

    /*---chatgpt fragment---*/
            outline: 2px solid transparent;
            outline-offset: 6px;
            transition: outline-color .25s ease, outline-offset .25s ease;
    }

    .card-form-button-submit:hover, .card-button-add-word:hover {
        outline-color: var(--primary-color);
        outline-offset: 2px;
    }
    /*----------------------------*/
    
.card-form-word-container {
    border: 2px solid var(--primary-color);
    padding: calc(var(--size-base) * 4);
    display: flex;
    max-width: 50%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}   

.card-word-default-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-word-separator-container {
    width: 100%;
}

.card-add-button-word-container {
    display: flex;
    flex-direction: row;
}

.card-button-add-word {
    flex: 1;
    padding: calc(var(--size-base) * 0)
}

.card-word-translation-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
