.right-panel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 18.75%;
    box-sizing: border-box;
    padding: calc(var(--size-base) * 2);
}

.account-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--size-base) * 6);
    will-change: filter;
    transition: filter 300ms;
}

.account-icon-container:hover {
    filter: drop-shadow(0 0 2em #4CD69E);
}

.right-navigation-buttons-container {
    display: flex;
    flex-direction: column;
    padding: calc(var(--size-base) * 3);
}
