.settings-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-page-container h1{
    font-family: "Noto Sans SemiBold";
    font-size: calc(var(--size-base) * 20);
    margin: calc(var(--size-base) * 4);
    background-image: linear-gradient(#4CD69E, #1BD96A);
    color: transparent;
    background-clip: text;
    text-shadow: 1px 1px 2px;
    padding: calc(var(--size-base) * 4);
}